.learn-vidreact-playereo {
    max-width: 900px;
}

.learn-video {
    position: relative;
    transform: translateZ(1rem);
    width: 80%;
    height: 80%;
    border: none;
    top: -0.5rem;
}

.video-wrapper{
    margin-top: 16px;
    margin-bottom: 24px;
    position: relative;
    height: calc(100vh - 234px);
}

.lSoundRecording-btn {
    position: absolute;
    z-index: 2;
    /* margin: auto; */
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 16px;
}

.l-learn-voice-test .lSoundRecording-btn {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.l-recorder-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.l-recorder-container .btn-recorder {
    position: relative;
    width: 7.85rem;
    height: 1.08rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: .24rem;
    font-weight: 700;
    perspective: 1.5rem;
}


.l-recorder-container .btn-recorder .btn-text {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotateX(30deg);
    letter-spacing: .02rem;
    color: #db582e;
}

.l-recorder-container .btn-recorder-default {
    background-image: url(https://bhbl.dayuan1997.com/img/default.1df9dcc3.png);

    .btn-text{

    }
}

.l-recorder-container .btn-recorder-recording {
    background-image: url(https://bhbl.dayuan1997.com/img/active_light.a95ba7f5.png);
    .btn-text{
        color: #d35529;
        top: 8px
    }
}

.l-recorder-container .btn-recorder-disabled {
    background-image: url(https://bhbl.dayuan1997.com/img/disabled.b218e11c.png);
    cursor:not-allowed;
    .btn-text{
        color: #fff;
    }
}

.l-button-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 12
}


.l-button-container .l-btn-default.l-btn-type-1 {
    position: relative;
    cursor: pointer;
    width: 1.85rem;
    height: 1.08rem;
    background-image: url(https://bhbl.dayuan1997.com/img/type_1_default.285c3932.png);
    background-size: 100% 100%;
}

.l-button-container .l-btn-default.l-btn-type-1.disabled {
    color: #fff;
    background-image: url(https://bhbl.dayuan1997.com/img/type_1_disabled.69b61b03.png)
}

.l-button-container .l-btn-default.l-btn-type-1.active {
    color: #d35529;
    background-image: url(https://bhbl.dayuan1997.com/img/type_1_active.7ce007f5.png)
}

.l-button-container .l-btn-default .btn-text {
    position: absolute;
    font-size: 22px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotateX(30deg);
    letter-spacing: .02rem;
    color: #db582e;
}

.l-button-container .l-btn-default .btn-text-active {
    top: 4px
}

.l-button-container .disabled .btn-text {
    color: #fff;
}


.l-number {
    height: 0.51rem;
    line-height: .51rem;
    position: absolute;
    z-index: 2;
    padding: 0 0.32rem;
    border-radius: 0.16rem;
    background-color: rgba(0, 0, 0, .5);
    font-weight: 700;
    color: #fff;
    font-size: .24rem;
    bottom: 64px;
    left: 14px;
}

.l-learn-replay {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 2;
    bottom: 0.3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.08rem;
    font-size: 0.16rem;
    margin: 0 8px;
    bottom: 64px;
    right: 14px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 0.2rem;
    border-radius: 0.08rem;
    font-size: .16rem;
    &-reload{
        width: 10px;
  
        cursor: pointer;
    }
    &-close{
        width: 8px;
        margin: 0 4px;
    }
    &-num{
        font-size: 12px;
    }
    &-lb, &-lbing{
        width: 16px;
        margin: 0 4px;
        cursor: pointer;
        margin-left: 10px;
    }
}

.process-bar-container {
    position: absolute;
    width: 85%;
    height: .07rem;
    border-radius: .04rem;
    bottom: .24rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsla(0,0%,100%,.2)
}

.process-bar-container .process-bar {
    width: 0;
    height: 100%;
    border-radius: .04rem;
    background-color: #f9e176
}

.process-bar-record{
    position: absolute;
    bottom: 0.24rem;
    left: 20px;
    width: 12px;
}