.learn-vidreact-playereo{
    max-width: 1000px;
}

.learn-video{
    position: relative;
    transform: translateZ(1rem);
    width: 80%;
    height: 80%;
    border: none;
    top: -0.5rem;
}

.video-wrapper{
    margin-bottom: 14px;
    position: relative;
    height: calc(100vh - 200px);
}

.react-player{
    background: #000;
}

.lSoundRecording-btn{
    position: absolute;
    z-index: 2;
    /* margin: auto; */
    left: 50%;
    transform: translate(-50%,0);
    bottom: 16px;
}

.l-learn-voice-test .lSoundRecording-btn {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.l-recorder-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.l-recorder-container .btn-recorder.default {
    background-image: url(../../assets/imgs/default.1df9dcc3.png);
}

.l-recorder-container .btn-recorder {
    position: relative;
    width: 8.85rem;
    height: 1.28rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: .24rem;
    font-weight: 700;
    perspective: 1.5rem;
}

.l-recorder-container .btn-recorder .text {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotateX(30deg);
    letter-spacing: .02rem;
    color: #db582e;
}

.left-times{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    border-radius: 8px;
    bottom: 86px;
    left: 16px;
    color: #fff;
    font-size: 10px;
}

